/* admin.css */

body {
    background-color: #000;
}

.container {
    max-width: 900px;
    margin: 100px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
}

h2 {
    font-size: 32px;
    color: #222;
    text-align: center;
    margin-bottom: 30px;
}

.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.info-group {
    display: flex;
    flex-direction: column;
}

.info-group label {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 6px;
}

.info-group span {
    background-color: #fff;
    color: #000;
    padding: 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    min-height: 50px;
    word-break: break-word;
}

.info-group.full-width {
    grid-column: 1 / -1;
}

.info-group.full-width span {
    min-height: 150px;
}

.btn {
    display: block;
    margin: 40px auto 0;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 6px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 200px;
}

.btn:hover {
    background-color: #0056b3;
}

.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.admin_selections {
    display: flex;
    gap: 20px; /* space between buttons */
}

.admin_button {
    padding: 8px 16px;
    font-size: 14px;
    width: 140px; /* smaller width */
    height: 100px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin_button:hover {
    background-color: #45a049;
}

.add-patient-container {
    background-color: 4CAF50;
}

.welcome_msg {
    text-align: center;
    padding-top: 250px;
}


  .add-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 16px;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-btn:hover,
  .add-btn:hover {
    background-color: #218838;
  }
