
.search-container {
    display: flex;
    justify-content: center;
    margin:  auto;
    background-color: gray;
    padding: 10px 20px;
    width: 80%;
    border-radius: 8px;
  }
  
  .search-container form {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap; /* wraps nicely on smaller screens */
  }
  
  .search-container input[type="text"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 30px;
    height: 36px;
    min-width: 160px;
  }
  
  .search-button{
    background-color: #082567;
    color: white;
    border: none;
    padding: 16px;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .all-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 16px;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button:hover,
  .all-button:hover {
    background-color: #0056b3;
  }

  .results-container {
    width: 80%;
    height: 700px;
    margin: 20px auto;
    padding: 10px;
    background-color: #8c8b8b;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .results-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    overflow-y: scroll;
  }

  .results-table thead th {
    position: sticky;
    top: -10px;
    background-color:#007BFF; 
    z-index: 2;
}


  .results-table th, .results-table td {
    padding: 12px 15px;
    border: 1px solid #ffffff;
  }
  
  .results-table th {
    background-color: #007BFF;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: sticky;
  }
  
  .results-table td {
    background-color: #fff;
    font-size: 28px;
    border: 1px solid #ddd;
  }
  
  .results-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
  .results-table td, .results-table th {
    border-right: 1px solid #ddd;
  }
  
  .results-table th:last-child, .results-table td:last-child {
    border-right: none;
  }

  button {
    padding: 6px ;      
    font-size: 25px;  
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-button {
    background-color: #007BFF;
    color: white;
  }
  
  .view-button:hover {
    background-color: #0056b3;
  }
  
  .edit-button {
    background-color: #FFD700;
    color: black;
  }
  
  .edit-button:hover {
    background-color: #caa40c;
  }
  
  .delete-button {
    background-color: #FF5733;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #b12a0c;
  }

  .add-button {
    padding: 20px 40px;
    font-size: 40px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: auto;
    display: block;
    margin: 100px auto;
    text-align: center;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);
  }
  
  .add-button:hover {
    background-color: #218838;
  }
  